h2,h3,p, {text-align:center;
color:rgb(0, 253, 198)}
body{background-color: darkgray;
font-family:fantasy ;}
img{
    border-radius: 8px;
    display: block;
margin-left: auto;
margin-right: auto;
border-style: dashed;
border-color: crimson;} 
h1,li{color:white}
img,h1,h2,h3,h4,p,li{cursor: wait;}